[[migration]]
version = 1
name = "initial_schema"
description = "Create initial initial_schema"
statements = [
  """
  CREATE KEYSPACE IF NOT EXISTS ${keyspace}
  WITH replication = {'class': 'SimpleStrategy', 'replication_factor': ${replication_factor}}
  """,
  """
  CREATE TABLE IF NOT EXISTS ${keyspace}.checkpoints (
    thread_id ${thread_id_type},
    checkpoint_ns TEXT,
    checkpoint_id ${checkpoint_id_type},
    parent_checkpoint_id ${checkpoint_id_type},
    type TEXT,
    checkpoint BLOB,
    metadata BLOB,
    PRIMARY KEY (thread_id, checkpoint_ns, checkpoint_id)
  ) WITH CLUSTERING ORDER BY (checkpoint_ns ASC, checkpoint_id DESC)
    AND compaction = {'class': 'UnifiedCompactionStrategy'}
  """,
  """
  CREATE TABLE IF NOT EXISTS ${keyspace}.checkpoint_writes (
      thread_id ${thread_id_type},
      checkpoint_ns TEXT,
      checkpoint_id ${checkpoint_id_type},
      task_id TEXT,
      task_path TEXT,
      idx INT,
      channel TEXT,
      type TEXT,
      value BLOB,
      PRIMARY KEY (thread_id, checkpoint_ns, checkpoint_id, task_id, idx)
  ) WITH CLUSTERING ORDER BY (checkpoint_ns ASC, checkpoint_id DESC, task_id ASC, idx ASC)
    AND compaction = {'class': 'UnifiedCompactionStrategy'}
  """
]
